// Place all the styles related to the api/folders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal {
  z-index: 1;
}

.folderIndex {
  background-color: rgb(238, 239, 242);
}

.addFolder {
  margin-top: 25px;
  margin-bottom: 25px;
}

.galleryHeader {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  font-size: 35px;
  text-align: center;
}

.createFolder {
  position: relative;
  background-color: white;
  padding: 2rem;
  text-align: center;
  max-width: 215px;
  height: 214px;
}

.createFolder::before {
  border: 1px solid #eeeff2;
  border-radius: 0 0 3px 3px;
  position: absolute;
  z-index: -1;
  bottom: 15px;
  right: 5px;
  width: 50%;
  top: 80%;
  max-width: 200px;
}

.createFolder:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 2s;
}

.createFolderWriting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #0099e5;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  height: 195px;
  width: 250px;
  overflow: hidden;
  font-size: 20px;
}

.fa-plus-circle:before {
  padding-bottom: 20px;
  font-size: 45px;
}

.createIcon {
  padding-bottom: 20px;
  padding-right: 25px;
}

.createText {
  padding-right: 25px;
}

.folderShowHolder {
  position: relative;
  background-color: white;
  text-align: center;
  max-width: 300px;
  height: 275px;
  border-radius: 2px;
}

.folderShowHolder:before {
  border: 1px solid #eeeff2;
  border-radius: 0 0 3px 3px;
  z-index: -1;
  top: 80%;
  max-width: 300px;
}

.folderShowHolder:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 2s;
}

.folderPicturePreviewHolder {
  position: relative;
  background-color: white;
  border-radius: 3px 3px 0 0;
  text-align: center;
  max-width: 300px;
  height: 215px;
}

.folderTitle {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #525558;
  border-top: 1px solid lightgrey;
}

.folderShowHolderContainer {
  display: flex;
  flex-direction: column;
}

.folderPicturePreview {
  width: 100%; /* or any custom size */
  height: 100%;
  object-fit: cover;
}
