.folderAndDelete {
  width: 300px;
}

.folderList {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.folderHolder {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.folderDelete {
  //   margin-top: -7px;
  text-align: right;
  width: 270px;
  margin-top: 25px;
}

.fa-folder:before {
  font-size: 100px;
  color: rgb(64, 219, 224);
}

.fa-folder-plus:before {
  font-size: 100px;
  color: rgb(6, 43, 145);
}

.folderIndex {
  padding: 40px;
}

.folderShowToggleDeleteContainer {
  text-align: right;
  z-index: 1;
}

.folderShowToggleDelete {
  margin-top: 25px;
  margin-right: 25px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}
