.slide {
  border-right: 1px solid black;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  width: 120px;
  padding: 10px;
  white-space: normal;
}

.slide:last-child {
  border-right: none;
}
