.dropdown {
  position: relative;
  border-radius: 5px;
  margin-top: 10px;
}
.dropdown ul {
  list-style-type: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  top: 60px;
  right: 0px;
  width: 100px;
  background-color: white;
  font-weight: bold;
  position: absolute;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}
li a {
  color: #000;
  text-decoration: none;
}
li {
  padding: 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}
li:last-child {
  border-bottom: none;
}
li:hover {
  background-color: grey;
  border-radius: 5px;
}
.button {
  // background-color: rgb(25, 214, 192);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  color: grey;

  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}
.button:before {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: white transparent transparent transparent;
  right: 6px;
  top: 18px;
}

.logout-dropdown {
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  padding: 0;
  border: none;
  background: none;
}

.profile-icon {
  font-size: 40px;
  position: relative;
  right: 20px;
  order: 1;
}
