//for highlighted login,singup buttons
a:visited,
a {
  text-decoration: none;
  color: black;
}

// for header when logged in
.logo {
  color: black;
  font-family: "Poiret One", cursive;
  font-size: 64px;
  padding: 25px 50px 10px 50px;
}

.greeting-stuff {
  color: black;
  font-size: 20px;
  flex-grow: 1;
}

.current-user-name {
  color: black;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial,
    sansserif !important;
  font-size: 35px;
}

.log-out {
  color: black;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial,
    sansserif !important;
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  border: black solid 2px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  position: relative;
  top: -7px;
}

.header-button:hover {
  background-color: black;
  text-shadow: none;
  color: white;
}

.header-group {
  display: flex;
}

.sign-up-button {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-weight: bold;
  height: 200px;
  width: 100px;
  padding: 5px 15px;
  border: black solid 2px;
  border-radius: 20px;
  margin: 10px;
  font-size: 16px;
  position: relative;
  top: 30px;
}

.login-button {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-weight: bold;
  height: 200px;
  width: 200px;
  font-size: 16px;
  position: relative;
  top: 30px;
}

.sign-up-button:hover {
  color: brown;
  border-color: brown;
}

.login-form-container {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-size: 25px;
}

.login-errors {
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}
