//for highlighted login,singup buttons
a:visited,
a {
  text-decoration: none;
  color: purple;
}

// for header when logged in
.nav-header {
  color: black;
  font-family: "Grand Hotel", cursive;
  font-size: 64px;
}

.greeting-stuff {
  color: black;
  font-family: "Grand Hotel", cursive;
  font-size: 20px;
  position: absolute;
  top: 8px;
  right: 16px;
}

.current-user-name {
  color: black;
  font-family: "Josefin Slab", serif;
  font-size: 35px;
}

.header-button {
  color: black;
  font-family: "Josefin Slab", serif;
  height: 30px;
  width: 100px;
  padding: 5px 10px;
  border: black solid 2px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
  position: relative;
  top: -7px;
}

.header-button:hover {
  background-color: black;
  text-shadow: none;
  color: white;
}

.navBar {
  position: relative;
}

.header-group {
  display: flex;
}

.sign-up-button {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-weight: bold;
  height: 200px;
  width: 100px;
  padding: 5px 10px;
  border: black solid 2px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
}

.login-button {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-weight: bold;
  height: 200px;
  width: 200px;
  padding: 5px 10px;
  border: black solid 2px;
  border-radius: 20px;
  font-size: 20px;
}

.login-button:hover {
  background-color: black;
  text-shadow: none;
  color: white;
}

.sign-up-button:hover {
  background-color: black;
  text-shadow: none;
  color: white;
}

.login-form-container {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-header {
  color: black;
  font-family: Helvetica Neue, HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    Nimbus Sans L, Liberation Sans, Arial, sans-serif;
  font-size: 25px;
}

.session-submit {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Josefin Slab", serif;
}

.demo-login {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Josefin Slab", serif;
}

.login-errors {
  font-family: "Josefin Slab", serif;
}
