.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  box-sizing: border-box;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  // height: 200px;
  // object-fit: cover;
}

.column img {
  margin: 5px;
  transition: all 2s;
}

.column img:hover {
  transform: scale(1.1);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
//ORIGINAL CODE BELOW

// .picture-index {
//   display: flex;
//   justify-content: center;
// }

// .picture-index-layout {
//   display: flex;
//   padding: 50px;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   img {
//     height: 500px;
//     margin: 5px;
//     transition: all 2s;
//   }
//   img:hover {
//     transform: scale(1.1);
//   }
// }
