.single-photo {
  position: relative;
  // justify-content: center;
  padding-left: 150px;
  padding-top: 40px;
  max-width: 70%;
  max-height: 70%;
}

.showpageDiv {
  background-color: rgb(34, 34, 34);
  height: 1200px;
}

.comment {
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.comments {
  background: white;
  display: flex;
  justify-content: left;
  position: relative;
  bottom: 280px;
  left: 650px;
  li:hover {
    background: white;
  }
  width: 400px;
}

.addcomment {
  font: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #34bf49;
  border-color: #34bf49;
  color: white;
  margin-left: 10%;
  margin-top: 5%;
}

.deletecomment {
  // display: flex;
  // flex-direction: row;
  padding-left: 40px;
  border: none;
  background: none;
  font-size: 12px;
}

.comentext {
  display: flex;
  flex-direction: row;
}

.delete-button {
  font: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: red;
  border-color: red;
  color: white;
  position: relative;
  // left: 700px;
  top: 450px;
  flex: 50%;
  text-align: right;
}

.picture-name {
  display: flex;
  justify-content: left;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 50px;
}

.picture-info1 {
  display: flex;
  justify-content: left;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
  width: 500px;
}

.picture-info2 {
  position: relative;
  left: 100px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 100px;
  bottom: 27px;
  width: 500px;
}

.picture-info3 {
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 100px;
  left: 100px;
  bottom: 27px;
  width: 500px;
}

.picture-info4 {
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  left: 200px;
  bottom: 27px;
  width: 500px;
}

.pictureInfo {
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.cameraIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
}

.infoIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
  // margin-bottom: 100px;
}

.lensIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
}

.like-button {
  position: relative;
  margin-left: 650px;
  background-color: white;
  fill: red;
  padding: 0;
  border: none;
  background: none;
  font-size: 30px;
}

#liked-icon {
  fill: red;
}

// /*
// Author : Himateja
// Editor : Codepen
// Permissions : Open Source
// */
// * {
//   margin: 0;
//   padding: 0;
//   -webkit-font-smoothing: antialiased;
//   -webkit-tap-highlight-color: transparent;
//   box-sizing: border-box;
// }

// html,
// body {
//   overflow: hidden;
//   height: 100%;
//   zoom: reset;
//   background: white;
//   font-family: Montserrat;
// }

// h1 {
//   text-align: center;
//   margin-top: 75px;
// }

// input[type="checkbox"] {
//   clear: both;
//   display: none;
// }

// input[type="checkbox"] {
//   display: none;
// }

// input[type="checkbox"] + label {
//   position: absolute;
//   z-index: 100;
//   overflow: hidden;
//   height: 6em;
//   width: 6em;
//   left: calc(50% - 3em);
//   top: calc(50% - 3em);
//   display: block;
//   text-align: center;
//   line-height: 95px;
//   cursor: pointer;
//   -webkit-transition: all 300ms ease;
//   transition: all 300ms ease;
//   border-radius: 50%;
//   background-color: #fff;
// }

// input[type="checkbox"] + label:before {
//   content: "";
//   z-index: -1;
//   position: absolute;
//   background: rgb(220, 72, 127);
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   top: 0;
//   left: 0;
//   transform: scale(0);
//   -webkit-ransform: scale(0);
// }

// input[type="checkbox"] + label:after {
//   content: "";
//   z-index: -1;
//   position: absolute;
//   background: white;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   top: 0;
//   left: 0;
//   transform: scale(0);
//   -webkit-transform: scale(0);
// }

// input[type="checkbox"]:checked + label svg {
//   -webkit-transition: all 300ms ease-in-out;
//   transition: all 300ms ease-in-out;
//   fill: rgb(220, 72, 127);
//   transform: scale(1.3);
//   -webkit-transform: scale(1.3);
// }

// input[type="checkbox"]:checked + label:after {
//   -webkit-animation: like-a 0.3s 0.2s forwards;
//   -moz-animation: like-a 0.3s 0.2s forwards;
//   animation: like-a 0.3s 0.2s forwards;
// }

// input[type="checkbox"]:checked + label:before {
//   -webkit-animation: like-a 0.5s 0s forwards;
//   -moz-animation: like-a 0.5s 0s forwards;
//   animation: like-a 0.5s 0s forwards;
// }

// label svg {
//   display: inline-flex;
//   vertical-align: middle;
//   width: 35px;
//   fill: rgb(167, 167, 167);
// }

// .copyright {
//   position: fixed;
//   width: 100%;
//   bottom: 5px;
//   text-align: center;
//   font-size: 12px;
// }

// a {
//   text-decoration: none;
//   color: rgb(220, 72, 127);
// }

// a:hover {
//   transition: none;
//   border-bottom: 1px solid rgb(220, 72, 127);
// }

// @-webkit-keyframes like-a {
//   100% {
//     -webkit-transform: scale(1.03);
//     transform: scale(1.03);
//     -moz-transform: scale(1.03);
//   }
// }
// @-moz-keyframes like-a {
//   100% {
//     -webkit-transform: scale(1.03);
//     transform: scale(1.03);
//     -moz-transform: scale(1.03);
//   }
// }
// @keyframes like-a {
//   100% {
//     -webkit-transform: scale(1.03);
//     transform: scale(1.03);
//     -moz-transform: scale(1.03);
//   }
// }
