.single-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  padding-top: 20px;
  max-width: 70%;
  max-height: 70%;
}

.showpageDiv {
  background-color: rgb(34, 34, 34);
}

.delete-button {
  display: flex;
  flex: 50%;
  text-align: right;
}

.picture-name {
  display: flex;
  justify-content: left;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 50px;
}

.pictureInfo {
  margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.cameraIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
}

.infoIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 100px;
}

.lensIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
}
