.single-photo {
  position: relative;
  // justify-content: center;
  // padding-left: 150px;
  // padding-top: 40px;
  max-width: 70%;
  max-height: 70%;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  min-height: 600px;
}

a {
  outline: 0;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
.showpageDiv {
  background-color: rgb(34, 34, 34);
  height: 1200px;
  // display: block;
}

.comment {
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  padding-bottom: 12px;
}

.comments {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  bottom: 280px;
  left: 650px;
  li:hover {
    background: white;
  }
  width: 400px;
}

.comment-text-area {
  //from 500px website comment styling
  height: 56px;
  min-height: 56px;
  max-height: 176px;
  overflow-y: hidden;
  width: calc(100% - 56px);
  font-size: 18px;
  line-height: 24px;
  color: rgb(34, 34, 34);
  background-color: transparent;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 16px;
  font-size: 14px;
  padding: 8px 10px;
  width: 100%;
  color: #525558;
  border: 1px solid rgba(185, 193, 199, 0.5);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 1.4em;
  height: auto;
  resize: none;
  -webkit-transition: border-color 0.2s;
  -moz-transition: border-color 0.2s;

  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

.addcomment {
  border: none;
  margin-left: 88%;
  font-size: 30px;
}

.comment-box {
  display: flex;
  flex-direction: row;
}

.deletecomment {
  padding-left: 10px;
  border: none;
  background: none;
  font-size: 12px;
}

.commentext {
  padding-left: 25px;
  padding-right: 15px;
  font-size: 12px;
  color: rgb(34, 34, 34);
  font-family: "Montserrat", sans-serif;
}

.delete-button {
  font: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans,
    "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: red;
  border-color: red;
  color: white;
  position: relative;
  // left: 700px;
  top: 450px;
  flex: 50%;
  text-align: right;
  // position: fixed;
}

.picture-name {
  display: flex;
  justify-content: left;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 50px;
  margin-left: 100px;
  margin-top: 50px;
}

.picture-info1 {
  display: flex;
  justify-content: left;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
  width: 500px;
}

.picture-info2 {
  position: relative;
  left: 100px;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 100px;
  bottom: 27px;
  width: 500px;
}

.picture-info3 {
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  margin-left: 100px;
  left: 100px;
  bottom: 27px;
  width: 500px;
}

.picture-info4 {
  position: relative;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  color: black;
  font-size: 20px;
  left: 200px;
  bottom: 27px;
  width: 500px;
}

.pictureInfo {
  // margin-top: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.cameraIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 40px;
}

.infoIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
  // margin-bottom: 100px;
}

.lensIcon {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15px;
}

.like-button {
  position: relative;
  margin-left: 650px;
  background-color: white;
  padding: 0;
  border: none;
  background: none;
  font-size: 30px;
}

.fa-heart:before {
  color: red;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
