//for highlighted login,singup buttons
a:visited {
  text-decoration: none;
  color: blue;
}
// for header when logged in
.logged-in-header {
  color: black;
  text-shadow: 3px 2px whitesmoke;
  font-family: AppleGothic;
}

.session-submit {
  border-top: 1px solid #96d1f8;
  background: #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffffff),
    to(#ffffff)
  );
  background: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background: -moz-linear-gradient(top, #ffffff, #ffffff);
  background: -ms-linear-gradient(top, #ffffff, #ffffff);
  background: -o-linear-gradient(top, #ffffff, #ffffff);
  padding: 6px 12px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  color: #000000;
  font-size: 14px;
  font-family: AppleGothic;
  text-decoration: none;
  vertical-align: middle;
}
.session-submit:hover {
  border-top-color: #000000;
  background: #000000;
  color: #ffffff;
}
.session-submit:active {
  border-top-color: #1b435e;
  background: #1b435e;
}
