.avatar-upload-button {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros,
    FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
  margin-top: 5%;
  border: 10px;
  margin-left: 8%;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #34bf49;
  border-color: #34bf49;
  color: white;
  width: 120px;
}
